.form-containers {
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-style {
    background-color: rgba(0, 0, 0, 0.05);
    width: 450px;
    height: auto;
    padding: 30px;
}

.footer {
    bottom: 0;
    /* Левый нижний угол */
    padding: 10px;
    /* Поля вокруг текста */
    background: rgba(0, 0, 0, 0.02);
    /* Цвет фона */
    color: #fff;
    /* Цвет текста */
    width: 100%;
}

.fullMonitor {
    position: relative;
    height: 100vh;
}

.blockPost {
    width: 100%;
}

.blockPost img {
    width: 250px;
    height: auto;
}

body {
    height: 100%;
}

.button-bottom {
    padding: 10px 10px 10px 10px;
}

.error ul {
    padding: 50px 0 0 0;
}

.error ul li {
    color: red;
}

.red {
    background-color: red;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-70 {
    margin-top: 70px;
}